{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Правила?</h1>
</div>
<p>1. 14-го февраля вы получаете информацию о каком-то человеке, который записался для участвия в игре.</p>
<p>2. В течение НЕДЕЛИ (не потом, не раньше, не когда-то) а именно с 15-го по 21-е февраля нужно делать подарки или разные приятности для того человека, который вам попался</p>
<p>3. Что может быть подарком — это только ваша фантазия. Но помните, что вы тоже получите подарок. Возможно, от такого же щедрого человека, как вы сами.</p>
<p>4. Главное правило - НЕ СПАЛИТЬСЯ, ведь этом и вся интрига. Пусть он по вечерам мучается вопросами, кто же делает эти милости :-)</p>
<p>5. Карты открываются 21-го февраля в 20:00</p>
<p>6. Второе и САМОЕ ВАЖНОЕ правило. Не ждите, пока вас обрадуют. Делайте, дарите, пишите первыми. Ведь это так круто, быть первым.</p>

<div class="page-header">
    <h1>Запись участников (до 13-го февраля)</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal js-signForm" role="form">
          {% csrf_token %}

          <div class="form-group">
            <label for="name" class="col-sm-5 control-label">Фамилия и имя</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="name" name="name" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="inputProfile" class="col-sm-5 control-label">Ссылка на профиль</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <div class="input-group-addon">vk.com/</div>
                    <input type="text" class="form-control" id="inputProfile" name="vk_link" placeholder="">
                </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label">Университет</label>
            <div class="col-sm-7">
                <select name="university" class="form-control">
                  {% for one_university in universities %}
                     <option value="{{ one_university.0 }}">{{one_university.1}}</option>
                  {% endfor %}
                </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label">Факультет</label>
            <div class="col-sm-7">
                <select name="faculty" class="form-control">
                  {% for one_faculty in faculties %}
                     <option value="{{ one_faculty.0 }}">{{one_faculty.1}}</option>
                  {% endfor %}
                </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-5 control-label">Курс</label>
            <div class="col-sm-7">
              <select name="course" class="form-control">
                  {% for one_course in courses %}
                     <option value="{{ one_course.0 }}">{{one_course.1}}</option>
                  {% endfor %}
                </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputGroup" class="col-sm-5 control-label">Номер группы</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="inputGroup" name="group_num" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <label for="inputPhone" class="col-sm-5 control-label">Ваш мобильный номер</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="mobile_num" id="inputPhone">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="agreeRules"> Я хочу отправить подарок незнакомцу и согласен с правилами
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
              <button type="submit" class="btn btn-default btn-sendData" disabled="disabled">Отправить</button>
            </div>
          </div>
        </form>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h5>Зачем вводить свой мобильный номер?</h5>
        <p class="small">Этот номер никто не будет знать, но на него 1-го апреля придёт сообщение о том, кому вам нужно отправить подарок и  обрадовать :-)</p>
    </div>
</div>
{% endblock %}