.hero {
	background: url('../img/hero-bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: #fff;
}

	.hero h1 {
		margin-top: 40px;

		font-size: 60px;
		line-height: 1;
	}

	.hero p {
		margin-bottom: 40px;

		font-size: 24px;
		font-weight: 300;
		line-height: 1.4;
	}